@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap'); 

html,body{
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
.container {
  background-color: #23252C;
  width: 550px;
  height: 868px;
  margin: 30px auto 30px auto;
}

.icon{
  width: 16px;
  height: 16px;
  float: left;
  position: relative;
    right: -10px;
}
.buttons{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.btn{
  width: 115px;
  height: 34px;
  cursor: pointer;
  font-family: 'Inter';
  padding: 9px 13px 9px 11px;
  background: #5093E2;
  color: white;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#email{
  background: #F5F5F5;
  color: black;
}
button:hover{
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.923);
}

.heading{
  width: 242.71px;
  height: 25px;
  margin: auto;
  padding-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}
.para{
  width: 290px;
  height: 61px;
  margin: 5px auto;
  font-family: 'Inter';
  font-style:normal;
  text-align: justify;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #DCDCDC;
}
